.logo-animated {
    animation: none;
}

.numbers {
    margin-top: 100px;
}

.video-container {
    padding: 65px 10px 0 40px;
}

.download-disclaimer {
    font-size: 12px;
    margin-top: 10px;
}

h4.category-description {
    margin-bottom: 10px;
}

a:hover {
    cursor: pointer;
}

.skin-render canvas {
    margin: auto;
}

.ad-left {
    position: absolute;
    left: 2%;
    top: 400px;
    height: 600px;
    width: 300px;
}

.ad-right {
    position: absolute;
    right: 2%;
    top: 400px;
    height: 600px;
    width: 300px;
}

@media screen and (max-width: 1800px) {
    .ad-left {
        display: none !important;
    }

    .ad-right {
        display: none !important;
    }
}

.center {
    margin: auto;
    width: 50%;
}